@use "../util//mixins";
@use "../util//variables";
article.game_card {
  @include mixins.customgrid(1, 1, 1fr);

  background-color: var(--secondary);
  @include mixins.size(30rem, 22rem);
  // @include mixins.size(26rem,15.4rem);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;

  /********************************Play button on hovers*******************************/
  @media (min-width: 640px) {
    &:hover {
      transform: scale(1.05);
      span.game_card-play {
        opacity: 1;
        z-index: 3;
      }
    }
    //both cards
    span.game_card-default,
    span.game_card-play,
    span.game_card-ribbon {
      @include mixins.size(100%);
      @include mixins.position("1/2");
      @include mixins.flex;
      border-radius: 2rem;
    }

    span.game_card-play {
      // border: 1px solid red;
      z-index: 2;
      // background-color: transparentize($color: #000000, $amount: 0)
      background-color: transparentize(variables.$secondary, 0.5);
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      // display: none;
      span {
        cursor: pointer;
      }
    }
    span.game_card-default {
      z-index: 1;
      background-color: gold;
      overflow: hidden;
      img {
        object-fit: cover;
        @include mixins.size(100%);
      }
    }
    span.game_card-ribbon {
      justify-content: flex-end;
      align-items: flex-start;
      z-index: 2;
      .cls-1 {
        fill: url(#linear-gradient);
      }

      .cls-2 {
        fill: #67ca35;
      }

      .cls-3 {
        fill: #fff;
      }
      svg {
        @include mixins.size(80%);
        transform: translate(33px, -9px);
        fill: red;
      }
    }
  }
}
