@use 'layout/layout';
@use 'util/variables';

/********************************All components*******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************************Configuring html*******************************/

html {
  font-size: 62.5%;

  overflow-x: hidden;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
  min-width: 32rem;
}
