/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[14].use[5]!./src/styles/main.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*************************Sets display to centralised grid*************************/
/*************************Sets display to centralised flex*************************/
/*************************Sets common properties of text*************************/
/*************************Sets width and height*************************/
/******************************Home mixins******************************/
nav {
  border: 1px solid red;
  width: 100vw;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*************************Styling navbar links*************************/
}

a {
  transition: all ease 0.15s;
  text-decoration: none;
}

/********************************All components*******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************************Configuring html*******************************/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
  min-width: 32rem;
}
