/*************************Colors************************/
$secondary: #8dc63f;
$primary: #373737;
$tertiary: #ffffff;
$link: #fcfcfc;

:root {
  --secondary: #{$secondary};
  --primary: #{$primary};
  --tertiary: #{$tertiary};
  --link: #{$link};
}
